#version=RHEL8
ignoredisk --only-use=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel
# Use text install
text
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=enp0s3 --ipv6=auto --activate --ip=192.168.150.200 --netmask=255.255.255.0 --gateway=192.168.150.1 --nameserver=192.168.150.1
#network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=todoapp.bcit.local

url --url=http://192.168.150.10/centos/
repo --name=epel --baseurl=https://dl.fedoraproject.org/pub/epel/$releasever/Everything/$basearch/ --install


# Root password
rootpw --iscrypted $6$XaCqfiiBHQs1wZbz$OSyXSBxC5vN81dp.EwK95AFkSkMINR23SGnmB.GxTTTE3Nj1qLCcvrp6WlBUFxqouaYxpZiR7wBvFMnRtEtqg1
# Run the Setup Agent on first boot
firstboot --disable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone America/Vancouver --isUtc

reboot

%packages
@minimal-environment
epel-release
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
rpm --import /etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-8

dnf install -y nodejs
dnf install wget -y
wget http://192.168.150.10/install_script.sh

bash app_setup.sh
%end
